@import 'variables'

.comment-wrp
  margin-bottom: 16px

.comment-wrp:last-child
  margin-bottom: 0

.commend-body
  display: flex
  align-items: flex-start

.comment-author-name
  font-size: 20px
  margin: 0 .4em 0 0
  text-decoration: none

.btn
  &-comment
    color: $color-main-lighter
    font-weight: 600
    background: transparent
    border-radius: 2em

  &-comment:hover
    background: $color-main-transparent-bg

  &-comment:active
    color: $color-main-lighter

.replies
  margin: 0 0 0 56px
  display: flex
  align-items: center
