@import 'variables'

.text-main
  font-weight: bold
  color: $color-main !important

.text-important
  font-size: 14px
  font-weight: bold

.link-main
  color: $color-main !important
  text-decoration: none !important

.link-main:hover,
.link-main:focus
  color: $color-main-light !important
  text-decoration: underline !important
