@import 'variables'

.component-rounding
  border-radius: $component-rounding !important

.text-main
  line-height: normal
  font-weight: bold
  color: $color-main !important

.text-main-light
  line-height: normal
  color: $color-main-light !important

.link-main
  line-height: normal
  color: $color-main !important
  text-decoration: none !important

.link-main:hover,
.link-main:focus
  color: $color-main-light !important
  text-decoration: underline !important

.background-black
  background-color: $color-black

.inline-icon-text
  display: flex !important
  align-items: center

.c-toast
  font-size: 20px
  max-width: 25em

  &--success
    color: $color-main !important
    background-color: rgba($color-main, .25) !important
    border: 1px solid $color-main !important
