$component-rounding: 2rem

$color-main: rgb(14, 96, 192)
$color-main-light: rgb(16, 115, 231)
$color-main-lighter: rgb(41, 131, 236)
$color-main-transparent-bg: rgba(123, 179, 255, 0.5)
$color-black: rgb(20, 20, 28)

$between-comments-margin: 1.2rem
